/* ======
01. General
   ====== */
/* ==============
  General
===================*/
body {
    background-repeat: repeat;
    background: #f5f5f5;
    font-family: "Poppins", sans-serif;
    color: #5b626b;
    font-size: 13px;
  }
  
  html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
  }
  
  p {
    line-height: 1.7;
  }
  
  svg {
    max-width: 100%;
  }
  
  a {
    color: #707070;
  }
  
  a:hover {
    outline: 0;
    text-decoration: none;
  }
  
  a:active {
    outline: 0;
    text-decoration: none;
  }
  
  a:focus {
    outline: 0;
    text-decoration: none;
  }
  
  .container-alt {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .footer {
    bottom: 0;
    text-align: center;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    left: 240px;
    background-color: #fafafa;
    -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05);
  }
  
  #wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  
  .slimScrollDiv {
    height: auto !important;
  }
  
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #f89a0c;
  }
  
  /* Social */
  .social-links li a {
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 30px;
  }
  
  /* ======
  02. Bootstrap-custom
     ====== */
  /* ==============
    Bootstrap-custom
  ===================*/
  .dropdown-menu {
    padding: 4px 0;
    font-size: 13px;
    -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 30px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-color: transparent;
    margin: 0;
  }
  
  .dropdown-item {
    background-color: #ffffff;
    padding: .55rem 1.5rem;
  }
  
  .dropdown-item:active, .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #2a3142;
  }
  
  .dropdown-item.active, .dropdown-item:active {
    background-color: #f8f9fa;
    color: #2a3142;
  }
  
  .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #707070;
    content: "\f105" !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
  
  .bg-primary {
    background-color: #f89a0c !important;
  }
  
  .bg-success {
    background-color: #58db83 !important;
  }
  
  .bg-info {
    background-color: #29bbe3 !important;
  }
  
  .bg-warning {
    background-color: #f5b225 !important;
  }
  
  .bg-danger {
    background-color: #ec536c !important;
  }
  
  .bg-muted {
    background-color: #707070 !important;
  }
  
  .bg-white {
    background-color: #ffffff !important;
  }
  
  .text-white {
    color: #ffffff !important;
  }
  
  .text-danger {
    color: #ec536c !important;
  }
  
  .text-muted {
    color: #707070 !important;
  }
  
  .text-primary {
    color: #f89a0c !important;
  }
  
  .text-warning {
    color: #f5b225 !important;
  }
  
  .text-success {
    color: #58db83 !important;
  }
  
  .text-info {
    color: #29bbe3 !important;
  }
  
  .text-dark {
    color: #2a3142 !important;
  }
  
  .badge {
    font-weight: 500;
  }
  
  .badge-primary {
    background-color: #f89a0c;
  }
  
  .badge-success {
    background-color: #58db83;
  }
  
  .badge-info {
    background-color: #29bbe3;
  }
  
  .badge-warning {
    background-color: #f5b225;
    color: #ffffff;
  }
  
  .badge-danger {
    background-color: #ec536c;
  }
  
  .badge-dark {
    background-color: #2a3142;
  }
  
  dt {
    font-weight: 500;
  }
  
  /* ======
  03. Helper
     ====== */
  /* ==============
    Helper Classes
  ===================*/
  .p-0 {
    padding: 0;
  }
  
  .p-t-10 {
    padding-top: 10px;
  }
  
  .p-b-10 {
    padding-bottom: 10px;
  }
  
  .m-0 {
    margin: 0;
  }
  
  .m-r-5 {
    margin-right: 5px;
  }
  
  .m-r-10 {
    margin-right: 10px;
  }
  
  .m-r-15 {
    margin-right: 15px;
  }
  
  .m-l-10 {
    margin-left: 10px;
  }
  
  .m-l-15 {
    margin-left: 15px;
  }
  
  .m-t-5 {
    margin-top: 5px;
  }
  
  .m-t-10 {
    margin-top: 10px;
  }
  
  .m-t-15 {
    margin-top: 15px;
  }
  
  .m-t-20 {
    margin-top: 20px;
  }
  
  .m-t-30 {
    margin-top: 30px;
  }
  
  .m-t-40 {
    margin-top: 40px;
  }
  
  .m-b-5 {
    margin-bottom: 5px;
  }
  
  .m-b-10 {
    margin-bottom: 10px;
  }
  
  .m-b-15 {
    margin-bottom: 15px;
  }
  
  .m-b-20 {
    margin-bottom: 20px;
  }
  
  .m-b-30 {
    margin-bottom: 30px;
  }
  
  .w-30 {
    max-width: 30px;
  }
  
  .w-xs {
    min-width: 80px;
  }
  
  .w-sm {
    min-width: 95px;
  }
  
  .w-md {
    min-width: 110px;
  }
  
  .w-lg {
    min-width: 140px;
  }
  
  .l-h-23 {
    line-height: 23px;
  }
  
  .l-h-34 {
    line-height: 34px;
  }
  
  .font-12 {
    font-size: 12px;
  }
  
  .font-14 {
    font-size: 14px;
  }
  
  .font-16 {
    font-size: 16px;
  }
  
  .font-18 {
    font-size: 18px;
  }
  
  .font-20 {
    font-size: 20px;
  }
  
  .font-24 {
    font-size: 24px;
  }
  
  .font-30 {
    font-size: 30px;
  }
  
  .thumb-sm {
    height: 32px;
    width: 32px;
  }
  
  .thumb-md {
    height: 48px;
    width: 48px;
  }
  
  .thumb-lg {
    height: 88px;
    width: 88px;
  }
  
  .font-500 {
    font-weight: 500;
  }
  
  .font-600 {
    font-weight: 600;
  }
  
  .header-title {
    font-size: 16px;
  }


/* ======
17. Form-elements
   ====== */
/* ==============
  Form-elements
===================*/
label {
    font-weight: 500;
  }
  
  .form-control {
    font-size: 13px;
  }
  
  .form-control:focus {
    border-color: #f89a0c;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .form-control-sm {
    font-size: .875rem;
  }
  
  .custom-select-sm {
    font-size: 75%;
  }
  
  .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #f89a0c;
    border-color: #f89a0c;
  }
  
  .custom-control-input:focus ~ .custom-control-indicator {
    -webkit-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #f89a0c;
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #f89a0c;
  }
  
  .has-success .form-control {
    border-color: #58db83;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .has-warning .form-control {
    border-color: #f5b225;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .has-error .form-control {
    border-color: #ec536c;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .input-group-text {
    font-size: 13px;
  }


/* ==============
  Buttons
===================*/
.btn {
  border-radius: 3px;
  font-size: 13px;
}

button:focus {
  outline: none;
}

.btn-sm {
  font-size: 10.83333px;
}

.btn-lg {
  font-size: 15.6px;
}

.btn-primary, .btn-success, .btn-info, .btn-warning,
.btn-danger, .btn-dark, .btn-pink, .btn-purple, .btn-indigo, .btn-teal,
.btn-lime, .btn-orange, .btn-brown, .btn-blue-grey {
  color: #ffffff;
}

.btn-primary {
  background-color: #f89a0c;
  border: 1px solid #f89a0c;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.open > .dropdown-toggle.btn-primary, .btn-outline-primary.active, .btn-outline-primary:active,
.show > .btn-outline-primary.dropdown-toggle, .btn-outline-primary:hover, .btn-primary.active,
.btn-primary:active, .show > .btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #ffb340;
  border: 1px solid #ffb340;
}

.btn-primary.focus, .btn-primary:focus, .btn-outline-primary.focus, .btn-outline-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(122, 111, 190, 0.3);
  box-shadow: 0 0 0 2px rgba(122, 111, 190, 0.3);
}

.btn-secondary.focus, .btn-secondary:focus, .btn-outline-secondary.focus, .btn-outline-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
  box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
}

.btn-success {
  background-color: #58db83;
  border: 1px solid #58db83;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active,
.btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover,
.open > .dropdown-toggle.btn-success, .btn-outline-success.active, .btn-outline-success:active,
.show > .btn-outline-success.dropdown-toggle, .btn-outline-success:hover, .btn-success.active,
.btn-success:active, .show > .btn-success.dropdown-toggle,
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
  background-color: #43d673;
  border: 1px solid #43d673;
}

.btn-success.focus, .btn-success:focus, .btn-outline-success.focus, .btn-outline-success:focus,
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(88, 219, 131, 0.3);
  box-shadow: 0 0 0 2px rgba(88, 219, 131, 0.3);
}

.btn-info {
  background-color: #29bbe3;
  border: 1px solid #29bbe3;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus,
.btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info,
.btn-outline-info.active, .btn-outline-info:active,
.show > .btn-outline-info.dropdown-toggle, .btn-outline-info:hover, .btn-info.active, .btn-info:active,
.show > .btn-info.dropdown-toggle, .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
  background-color: #1caed6;
  border: 1px solid #1caed6;
}

.btn-info.focus, .btn-info:focus, .btn-outline-info.focus, .btn-outline-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(41, 187, 227, 0.3);
  box-shadow: 0 0 0 2px rgba(41, 187, 227, 0.3);
}

.btn-warning {
  background-color: #f5b225;
  border: 1px solid #f5b225;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active,
.btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover,
.open > .dropdown-toggle.btn-warning, .btn-outline-warning.active, .btn-outline-warning:active,
.show > .btn-outline-warning.dropdown-toggle, .btn-outline-warning:hover, .btn-warning.active,
.btn-warning:active, .show > .btn-warning.dropdown-toggle,
.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
  background-color: #f4a90d;
  border: 1px solid #f4a90d;
  color: #ffffff;
}

.btn-warning.focus, .btn-warning:focus, .btn-outline-warning.focus, .btn-outline-warning:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show > .btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(245, 178, 37, 0.3);
  box-shadow: 0 0 0 2px rgba(245, 178, 37, 0.3);
}

.btn-danger {
  background-color: #ec536c;
  border: 1px solid #ec536c;
}

.btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger.active,
.btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover,
.open > .dropdown-toggle.btn-danger, .btn-outline-danger.active, .btn-outline-danger:active,
.show > .btn-outline-danger.dropdown-toggle, .btn-outline-danger:hover, .btn-danger.active,
.btn-danger:active, .show > .btn-danger.dropdown-toggle,
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show > .btn-danger.dropdown-toggle {
  background-color: #e93c58;
  border: 1px solid #e93c58;
}

.btn-danger.focus, .btn-danger:focus, .btn-outline-danger.focus, .btn-outline-danger:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show > .btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(236, 83, 108, 0.3);
  box-shadow: 0 0 0 2px rgba(236, 83, 108, 0.3);
}

.btn-dark {
  background-color: #2a3142;
  border: 1px solid #2a3142;
  color: #ffffff;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .btn-dark.focus,
.btn-dark:active, .btn-dark:focus, .btn-dark:hover, .open > .dropdown-toggle.btn-dark,
.btn-outline-dark.active, .btn-outline-dark:active,
.show > .btn-outline-dark.dropdown-toggle, .btn-outline-dark:hover {
  background-color: #202532;
  border: 1px solid #202532;
  color: #ffffff;
}

.btn-dark.focus, .btn-dark:focus, .btn-outline-dark.focus, .btn-outline-dark:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
  box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
}

.btn-link {
  color: #2a3142;
}

.btn-link:hover {
  color: #f89a0c;
}

/* button Outline */
.btn-outline-primary {
  color: #f89a0c;
  border-color: #f89a0c;
}

.btn-outline-success {
  color: #58db83;
  border-color: #58db83;
}

.btn-outline-info {
  color: #29bbe3;
  border-color: #29bbe3;
}

.btn-outline-warning {
  color: #f5b225;
  border-color: #f5b225;
}

.btn-outline-danger {
  color: #ec536c;
  border-color: #ec536c;
}

.btn-outline-dark {
  color: #2a3142;
  background-image: none;
  background-color: transparent;
  border-color: #2a3142;
}